@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    background:#001f3f;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
}

.logo{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width:70px;
    height: 70px;
}
.logo h3 {
font-size: 16px;
font-family: monospace;
color: #c62828;
font-weight: 800;
margin-left: 1rem;
}
.links{
    display: flex;
    flex: 5;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    font-size: 12px;
}
.links a{
  color:#c62828;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: 700;
  margin:0 1rem;
  

}

  @media screen and (max-width:700px) {
    .navbar{
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
    } 
    .links{
        font-size: 10px;
        justify-content: center;
    }
    .home{
        display: flex;
        flex-direction: column;
      }
      .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }  
  }

  .home{
    display: flex;
    flex-direction: row;
  }
  .home_text{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .home_text h1{
    color:#c62828;
  }
  .home_text p{
    color:#c62828;
  }
  .home_text button{
    color:#c62828;
    padding:1rem;
  }
   .home_links{
    margin:1rem 1rem;
    }
  .home_icons{
    color:#f57c00;
    margin:1rem;
  }
  .myname{
    color:#f57c00;
  }
  
     .home_img{
     display: flex;
     flex-direction: column;
     flex: 3;
     justify-content: center;
     align-items: center;
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
   }
   .home_img img{
    width: 300px;
    height: 300px;
    box-shadow:white;
   }
   
  @media screen and (max-width:700px) {
    .home{
      display: flex;
      flex-direction: column;
      margin:1rem 0;
    }
    .home_img p{
      font-size: 30px;
     }
      .navbar{
        margin: 0;
    }
    .home_img img{
      width: 80px;
      height: 80px;
     }
    
  }

