@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    background:#041122;
}

.container{
  display: flex;
  flex-direction: column;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
}

.logo{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width:70px;
    height: 70px;
}
.logo h3 {
font-size: 16px;
font-family: monospace;
color:  #e6f99d; 
margin-left: 1rem;
}
.links{
    display: flex;
    flex: 5;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    font-size: 12px;
}
.links a{
  color: #e6f99d; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: 700;
  margin:0 1rem;
  

}

  @media screen and (max-width:700px) {
    .navbar{
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
    } 
    .links{
        font-size: 12px;
        justify-content: center;
        margin:1rem;
    }
    .home{
        display: flex;
        flex-direction: column;
      }
      .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }  
  }

  .home{
    display: flex;
    flex-direction: row;
  }
  .home_text{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 1rem 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .home_text h1{
    color: #e6f99d; 
  }
  .home_text p{
    color: #e6f99d; 
  }
  .home_text button{
    color: #e6f99d; 
    padding:1rem;
  }
   .home_links{
    margin:1rem 1rem;
    }
  .home_icons{
    color:#f57c00;
    margin:1rem;
  }
  .myname{
    color:#f57c00;
  }
  
     .home_quotes{
     display: flex;
     flex-direction: column;
     flex: 3;
     justify-content: center;
     align-items: center;
     margin:1rem 1rem;
     padding:3rem;
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
   }
   .home_quotes p , 
   .home_quotes h3{
    color: #e6f99d; 
   }
 
   
  @media screen and (max-width:700px) {
    .home{
      display: flex;
      flex-direction: column;
      margin:1rem 0;
    }
    .home_img p{
      font-size: 30px;
     }
      .navbar{
        margin: 0;
    }
    .home_img img{
      width: 80px;
      height: 80px;
     }
     
  }

  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e6f99d; 
    margin: 2rem 1rem;
    padding:3rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
  }
  .skills_container {
    display: flex;
    flex-direction: column;
    color: #e6f99d;
    margin:1rem;
    padding: 5rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .skills_container h3{
    display: flex;
    flex-direction: row;
  }
  .skills_icon img{
    width: 20px;
    height: 20px;
  }
  .skills_container:hover,
  .home_text:hover,
  .home_quotes:hover,
  .about:hover{
    box-shadow: 0px 5px 10px 0px rgba(192, 17, 17, 0.5);
  }

  @media screen and (max-width:700px) {
    .skills{
      display: flex;
      flex-direction: column;
    }
  }
  .home_quotes h3 img{
    width: 50px;
    height: 50px;

  }
